* {
    box-sizing: border-box;
  }

  body {
    margin: 1%;
    font-family: 'Roboto', sans-serif;
  }


.centerDiv {
    display: flex;
    border: 20px;
}

div{
    margin: 1%;
    align-self: center;
}

table, th, td {
    border:1px solid black;
    font-size: large;

} 
